/**************************************************
 ================ Estilização Geral ===================
 **************************************************/

/*///======= inports =======\\\*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);

/*///======= Tags padrões =======\\\*/

body{
	/* font-family: helvetica, verdana, tahoma, sans-serif; */
	background-image: url('img/img01.png');
	background-repeat: repeat;
	height: 100%;
	
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 3em;	
}

hr.divide{
	margin:0.1em auto 3em auto;
	width: 100%;
	background-color: #aaa;
	border-top: 1px solid #888;
}

h3.divide{
	font-size: 1.8em;
	margin-bottom:0;
	font-weight: lighter;
	color: #555;
	font-family: 'Oswald', sans-serif;
}

div.global{
	max-width: 1512px;
}

.asterisco{
	color: red;
	font-size: 1.2em;
	margin-bottom: 0px;
}

/*///======= Barra de Navegação =======\\\*/

div.barra{
	margin: 0px auto;
	width: 100%;
	min-height: 100px;
	position: fixed;
	z-index: 100;
}

div.menubar{
	min-height: 100px;
	background: #45543D;
	padding-left: 0px;
}

div.container{
	margin-left: 10%;

}

div#logo{
	width: 30%;
	float: left;
	padding-top: 2.4em;
	text-transform: uppercase;
	font-family: '', sans-serif;
}

div#logo a{
	text-decoration: none;
	font-size: 2em;
	color: #fff;
}

ul.menu{
	padding-top: 1.8em;
	font-family: 'Roboto+Condensed', sans-serif;
}


ul.menu li a {
}

ul.menu li.item-menu a.link-menu{
	color: #fff;
	font-size: 1.2em;
	text-shadow: none;
}

ul.menu li.item-menu a.link-menu:hover{
	color: #ccc;
}

.navbar .nav li.dropdown > .dropdown-toggle .down {
  border-top-color: #000;
  border-bottom-color: #000;
}

.navbar .nav li.dropdown:hover > .dropdown-toggle .down {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .down,
.navbar .nav li.dropdown.active > .dropdown-toggle .down,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .down {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

section#content{
	margin-top: 70px;
	margin-bottom: 100px;
}

/**************************************************
 ================ Conteúdo Home ===================
 **************************************************/

/*//======= banner =======\\\*/

#banner-container{
	overflow: hidden;
	border-bottom: 5px solid #45543D;
	background-color: #000;
	max-height: 360px;
}

li.atend{
	background-color: #bbb;
	border-radius: 2px;
}

li.atend h3{
	margin-top: auto;
	text-align: center;
	background-color: #999;
	box-shadow: -1px 0px 0px #555;
	color: #333;
}

li.atend img{
	width: 98%;
	min-height: 220px;
}

li.atend p{
	padding: 4px;
	min-height: 100px;
	font-family: 'Asap', sans-serif;
}
img.item{
	width: 100%;
	height: auto;
}



/*///======= Div Orçamento =======\\\*/


#row{
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

#row h2{
	color: #33443a;
	margin-top: 1em;
	padding-bottom: 0.6em;
}

#row p{
	font-size: 1.4em;
	font-weight: 400;
	padding-bottom: 1.2em;
}

#row button{
	background: #45543D;
	width: 8em;
	height: 3em;
	font-size: 1.8em;
	color: #FFF;
	cursor: pointer;
	margin-bottom: 3em;
}

/*///======= Carrossel Locais de atendimento =======\\\*/

.carrossel hr{
	margin:0.1em auto 3em auto;
	width: 100%;
	background-color: #aaa;
	border-top: 1px solid #888;
}

.carrossel h3{
	font-size: 1.8em;
	margin-bottom:0;
	font-weight: lighter;
	color: #555;
	font-family: 'Oswald', sans-serif;
}


.item-carrossel{
	background-color: #aaa;
	padding: 1em;

}

.item-carrossel h3{
	text-align: center;
	font-family: 'Asap', sans-serif;
}

.item-carrossel img{
	width: 100%;
	max-height: 180px;
	margin-bottom: 1em;
	border: 1px solid #333;
	box-shadow: 2px 2px 2px #000;
}

.item-carrossel p{
	text-align: justify;
}

/*///======= Servicos =======\\\*/

.servicos hr{
	margin:0.1em auto 3em auto;
	width: 100%;
	background-color: #aaa;
	border-top: 1px solid #888;
}

.servicos h3{
	font-size: 1.8em;
	margin-bottom:0;
	font-weight: lighter;
	color: #555;
	font-family: 'Oswald', sans-serif;
}



/**************************************************
 ================ Conteúdo Serviços ===============
 **************************************************/
.container-tab-servico{

}

#myTab li a{
	font-weight: bold;
	color: #333;
	font-size: 1.2em;
}

#myTabContent p, ul {
	font-size: 1.2em;
	text-align: justify;
	font-family: 'Roboto+Condensed', sans-serif;;
} 

#myTabContent {
	padding-top: 2em;
}

/**************************************************
 ================ Conteúdo Orçamentos ===============
 **************************************************/

#form-orcamento label{
	font-size: 1.4em;
	font-family: 'Oswald', sans-serif;
}

#form-orcamento input[type="text"], input[type="number"], input[type="email"], select, option{
	height: 35px;
	font-size: 1.0em;
	font-weight: bold;
}
label#comodo, label#ambiente, input#medida, input#tipoMedida {
	display: none;
}



/**************************************************
 ================ Conteúdo Contatos ===============
 **************************************************/

#form-contatos label{
	font-size: 1.4em;
}

#form-contatos input[type="text"], input[type="email"], input[type="tel"]{
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
}

.conteudo-contatos{
	border-radius: 5px;
	padding: 10px;
	background-color: ;

}

.conteudo-contatos ul li{
	padding-top: 10px;
}

.conteudo-contatos img{
	margin: 5px;
}

.conteudo-contatos span{
	font-size: 1.2em;
	font-weight: bold;
}




/**************************************************
 ================ Rodapé Padrão ===================
 **************************************************/

.rodape{
	padding-top: 40px;
	clear: both;
	background-image: url('img/img07.png');
	background-repeat: repeat;
	min-height: 260px;
}

.rodape h3{
	font-family: 'Oswald', sans-serif;
}

.rodape ul{
	margin-left:0px;
	list-style-type: none;
}

.rodape ul li{
	margin: 1em 0;	
}

.rodape ul.inline li{
	display: inline;
}

#box1 address{
	font-size: 1.2em;
	line-height: 2em;
}

#box2 span{
	font-family: 'Oswald', sans-serif;
	font-size: 1.0em;
}


#box3 a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	color: #555;
}

#box3 a:hover{
	color: #999;
}

#box4 ul{
	margin-left:0px;
	list-style-type: none;
	display: inline;
}

.copyright{
	text-align: center;
	line-height: 60px;
	height: 60px;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	background-color: #aaa;
}

@media (max-width: 979px) {



}