/**************************************************
 ================ Estilização Geral ===================
 **************************************************/

/*///======= inports =======\\\*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Abel|Satisfy);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);

/*///======= Tags padrões =======\\\*/


body{
	/* font-family: helvetica, verdana, tahoma, sans-serif; */
	background-image: url('img/img01.png');
	background-repeat: repeat;
	height: 100%;
}

section#container{
	min-height: 100%;
	position: relative;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 3em;	
}

hr.divide{
	margin:0.1em auto 3em auto;
	width: 100%;
	background-color: #aaa;
	border-top: 1px solid #888;
}

h3.divide{
	font-size: 1.8em;
	margin-bottom:0;
	font-weight: lighter;
	color: #555;
	font-family: 'Oswald', sans-serif;
}

/*///======= Barra de Navegação =======\\\*/

div.barra{
	margin: 0px auto;
	width: 100%;
	min-height: 100px;
	max-width: 1512px;
	z-index: 100;
}

div.menubar{
	min-height: 100px;
	background: #45543D;
	padding-left: 0px;
}

div.container{
	margin-left: 5%;

}

div#logo{
	width: 60%;
	float: left;
	padding-top: 2.4em;
	text-transform: uppercase;
	font-family: '', sans-serif;
}

div#logo a{
	text-decoration: none;
	font-size: 2em;
	color: #fff;
}

div#logo small{
	font-size: 1em;
	color: #ccc;
}

ul.menu{
	padding-top: 1.8em;
	font-family: 'Roboto+Condensed', sans-serif;
}


ul.menu li a {

}

ul.menu li.item-menu a.link-menu{
	color: #fff;
	font-size: 1.2em;
	text-shadow: none;
}

ul.menu li.item-menu a.link-menu:hover{
	color: #ccc;
}

.navbar .nav li.dropdown > .dropdown-toggle .down {
  border-top-color: #000;
  border-bottom-color: #000;
}

.navbar .nav li.dropdown:hover > .dropdown-toggle .down {
  border-top-color: #eee;
  border-bottom-color: #eee;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .down,
.navbar .nav li.dropdown.active > .dropdown-toggle .down,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .down {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.login{
	clear: both;
	min-height: 30px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 0 0.2%; 
	padding: 2px 0.5%;
}

.login span{
	text-align: left;
}
section#content{
	margin-top: 70px;
	margin-bottom: 100px;
}


/**************************************************
 ================ Conteúdo  ===================
 **************************************************/

/*= Tabela de dados */

.table-crud{
	background-color: #fff;
}

legend.table{
	font-weight: bolder;
}

.table-crud th{
	vertical-align: middle;
	font-size: 18px;
	height: 30px;
}

/*= FIM Tabela de dados */

/*= Formulário de incluir e Editar */

.legend-form{
	font-weight: bolder;
}

.form-crud{
	border: 2px solid #ccc;
	background-color: #ddd;
	padding: 10px 20px;
	border-radius: 10px;
}

.form-crud label, .form-crud select{
	font-weight: bolder;
	font-size: 18px;
}

.form-crud input{
	height: 40px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}



/*=FIM -> Formulário de incluir e Editar */


/*//======= banner =======\\\*/





/**************************************************
 ================ Conteúdo Serviços ===============
 **************************************************/
/* .container-tab-servico{

}

#myTab li a{
	font-weight: bold;
	color: #333;
	font-size: 1.2em;
}

#myTabContent p, ul {
	font-size: 1.2em;
	text-align: justify;
	font-family: 'Roboto+Condensed', sans-serif;;
} 

#myTabContent {
	padding-top: 2em;
} */

/**************************************************
 ================ Conteúdo Orçamentos ===============
 **************************************************/

/* #form-orcamento label{
	font-size: 1.4em;
	font-family: 'Oswald', sans-serif;
}

#form-orcamento input[type="text"], input[type="number"], input[type="email"], select, option{
	height: 35px;
	font-size: 1.0em;
	font-weight: bold;
}
label#comodo, label#ambiente, input#medida, input#tipoMedida {
	display: none;
} */



/**************************************************
 ================ Conteúdo Contatos ===============
 **************************************************/

/* #form-contatos label{
	font-size: 1.4em;
}

#form-contatos input[type="text"], input[type="email"], input[type="tel"]{
	height: 40px;
	font-size: 1.2em;
	font-weight: bold;
}

.conteudo-contatos{
	border: 5px solid #aabbff;
	border-radius: 5px;
	padding: 10px;

}

.conteudo-contatos ul li{
	padding-top: 10px;
}

.conteudo-contatos img{
	margin: 5px;
}

.conteudo-contatos span{
	font-size: 1.2em;
	font-weight: bold;
}
 */



/**************************************************
 ================ Rodapé Padrão ===================
 **************************************************/

/* .rodape{
	padding-top: 40px;
	clear: both;
	background-image: url('img/img07.png');
	background-repeat: repeat;
	min-height: 260px;
}

.rodape h3{
	font-family: 'Oswald', sans-serif;
}

.rodape ul{
	margin-left:0px;
	list-style-type: none;
}

.rodape ul li{
	margin: 1em 0;	
}

.rodape ul.inline li{
	display: inline;
}

#box1 address{
	font-size: 1.2em;
	line-height: 2em;
}

#box2 span{
	font-family: 'Oswald', sans-serif;
	font-size: 1.4em;
}


#box3 a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	color: #555;
}

#box3 a:hover{
	color: #999;
}

#box4 ul{
	margin-left:0px;
	list-style-type: none;
	display: inline;
}
 */
.copyright{
	text-align: center;
	line-height: 60px;
	height: 60px;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	background-color: #aaa;
	
}

@media (max-width: 979px) {



}